.cabecalhoEnt{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.tituloEnt{
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #34445c;
}

.btn-entrada{
  margin-left: 230px;
}

.divBotao{
    width: 60px;
    height: 60px;
}


  
  .funcEntrada > div {
    margin-bottom: 20px; 
   
  }
  
  .form-labelEnt {
    font-size: 18px;
    color: #000000;
    margin-bottom: 5px;
    display: block;
    margin-left: 230px;
    font-weight: bold;
    
  }
  
  .form-controlEnt {
    width: 17%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 17px;
    margin-left: 230px;
  }
  
  .form-controlEnt:focus {
    border-color: #007bff;
    
  }



.input-group .btn{
  margin-right: 1240px;
}

.form-select{
  margin-left: 50px;
  
}

.tableEntrada {
  border-collapse: collapse;
  width: 85%;
  margin-left: 230px;
}

.tableEntrada th,
.tableEntrada td {
  padding: 5px; /* Ajuste o valor conforme necessário */
  border: 1px solid #ddd;
  text-align: left;
}

.tableEntrada th {
  background-color: #f2f2f2;
  color: rgb(0, 0, 0);
}

.linhaEnt{
  margin-left: 210px;
}


@media (max-width: 768px) {
  .tituloEnt{
    font-size: 33px;
    padding-top: 60px;
  }

  .tableEntrada {
    border-collapse: collapse;
    width: 80%;
    margin-left: 10px;
  }
  
  .tableEntrada th,
  .tableEntrada td {
    padding: 5px; /* Ajuste o valor conforme necessário */
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .tableEntrada th {
    background-color: #f2f2f2;
    color: rgb(0, 0, 0);
  }

  .form-labelEnt {
    font-size: 18px;
    color: #000000;
    margin-bottom: 5px;
    display: block;
    margin-left: 20px;
    font-weight: bold;
    
  }
  
  .form-controlEnt {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 17px;
    margin-left: 20px;
  }
  
  .linhaEnt{
    margin-left: 0px;
  }

  .btn-entrada{
    margin-left: 20px;
  }

}