.cabecalhoSaida{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.tituloSaida{
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #34445c;
}

.divBotao{
    width: 60px;
    height: 60px;
}

.btn-saida{
  margin-left: 230px;
}


  
  .funcSaida > div {
    margin-bottom: 20px; 
    
  }
  
  .form-labelSaida {
    font-size: 18px;
    color: #000000;
    margin-bottom: 5px;
    display: block;
    margin-left: 230px;
    font-weight: bold;
    
  }
  
  .form-controlSaida {
    width: 18%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 17px;
    margin-left: 230px;
  }
  
  .form-controlSaida:focus {
    border-color: #007bff;
    
  }


  .linhaSaida{
    margin-left: 210px;
  }
  
  .tableSaida {
    border-collapse: collapse;
    width: 90%;
    margin-left: 230px;
  }
  
  .tableSaida th,
  .tableSaida td {
    padding: 5px; /* Ajuste o valor conforme necessário */
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .tableSaida th {
    background-color: #f2f2f2;
    color: rgb(0, 0, 0);
  }

  @media (max-width: 768px) {
    .tituloSaida{
      font-size: 33px;
      padding-top: 60px;
    }
  
    .tableSaida {
      border-collapse: collapse;
      width: 100%;
      margin-left: 10px;
    }
    
    .tableSaida th,
    .tableSaida td {
      padding: 5px; /* Ajuste o valor conforme necessário */
      border: 1px solid #ddd;
      text-align: left;
    }
    
    .tableSaida th {
      background-color: #f2f2f2;
      color: rgb(0, 0, 0);
    }
  
    .form-labelSaida {
      font-size: 18px;
      color: #000000;
      margin-bottom: 5px;
      display: block;
      margin-left: 20px;
      font-weight: bold;
      
    }
    
    .form-controlSaida {
      width: 50%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
      font-size: 17px;
      margin-left: 20px;
    }
    
    .linhaSaida{
      margin-left: 0px;
    }
  
    .btn-saida{
      margin-left: 20px;
    }
  
  }